.paypal-button-container.paypal-button-layout-vertical.paypal-button-shape-rect.paypal-button-number-multiple.paypal-button-env-sandbox{
    background: red !important;
    max-width: 400px;
}
.paypal-button.paypal-button-number-0.paypal-button-layout-vertical.paypal-button-shape-rect.paypal-button-number-multiple.paypal-button-env-sandbox.paypal-button-label-paypal.paypal-button-color-gold.paypal-logo-color-blue.paypal-button-clicked {
    background: red !important;
}