<div>
  <h1>project</h1>
  <p>form invalid: {{projectsForm.invalid | json}}</p>
  <p>form touched: {{projectsForm.touched}}</p>
  <p>{{this.model | json}}</p>
  <div class="container">
    <form id="ProjectForm" [formGroup]="projectsForm" class="project-forms">
      <div class="project-form">
        <div class="form-group">
          <input type="text" placeholder="First Name" formControlName="FirstName">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Last Name" formControlName="LastName">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Last Name" formControlName="street">
          </div>
      </div>
    <div class="row">
      <div class="col-md-3">
        <div id="ui-controls">
          <button *ngIf="!projectsArray.invalid" class="add-project-form-btn" (click)="addNewProject()"> add Project </button>
          <ul>
            <li *ngFor="let item of projectsArray.controls; let i = index">item {{i+1}}</li>
          </ul>
        </div>
      </div>

    <div class="col-md-9">
      <div formArrayName="Projects">
        <div *ngFor="let address of projectsArray.controls; let i=index">
          {{address.controls.values|json}}
          <div class="project-form" formGroupName={{i}}>
            <button type="button" (click)="deleteProject(i)">Delete</button>
            <div class="form-group">
              <label>Name</label>
              <input id={{i}} placeholder="Name" type="text" formControlName="Name">
              <p *ngIf="address.controls.Name.dirty && address.controls.Name.errors?.required" class="error">
              Name is required
              </p>
            </div>
            <div class="form-group">
              <label>Content</label>
              <textarea placeholder="Content" type="text" formControlName="Content"> </textarea>
              <p *ngIf="address.controls.Content.dirty && address.controls.Content.errors?.required" class="error">
              Name is required
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <button (click)="getValuesFromFormGroup()">"save it...sorta"</button>
  </form>
</div>
</div>