        <h1>{{error}}</h1>
        <button (click)="startIt()">start it</button>
        <div *ngIf="itemId != undefined; then detail else list"></div>
        <ng-template  #detail>
          <app-item-detail (animStateFinished)="showList($event)" [itemDetail]="itemDetail"></app-item-detail>
        </ng-template>
        <ng-template #list>
            <p>{{error}}</p>
            <ul @openClose class="item-list">
              <li *ngFor="let item of projectList;" [attr.data-index]="i">
                <div  (click)="onPress(item.id)" class="item-container" [ngStyle]="{'background-image':'url('+item.image+')'}">
                  <div class="item-name-holder">
                    <p class="item-name">{{item.title}}</p>
                    <p class="item-category">{{item.category}}</p>
                  </div>
                </div>
              </li>
            </ul>
        </ng-template>
        <!-- <app-paypal-buttons></app-paypal-buttons>   -->
