<app-top-bar (clicked)="onPressBack($event)" [(detailViewActive)]="detailViewActive"></app-top-bar>
<div *ngIf="itemId != undefined; then detail else list"></div>
<ng-template  #detail>
        <app-item-detail (animStateFinished)="showList($event)" [itemDetail]="itemDetail"></app-item-detail>
</ng-template>
<ng-template #list>
      <div class="page-wrap">
        <ul @openClose class="item-list">
            <li *ngFor="let item of itemList; let id = index" [attr.data-index]="i">
              <div  (click)="onPress(id)" class="item-container" [ngStyle]="{'background-image':'url('+item.backgroundImageURL+')'}">
                <div class="item-name-holder">
                  <p class="item-name">{{item.name}}</p>
                  <p class="item-category">{{item.category}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
</ng-template>
