
<header class="header">
  <div class="container">
  <div class="header__leftBtn">
    <div *ngIf="detailViewActive">
      <button class="back-btn" (click)="onPress('backBtn')">
        <img src="../assets/back-arrow.png"/>
      </button>
    </div>
    <div *ngIf="!isNavActive && !detailViewActive">
        <button class="header__menu-toggle show-on-mobile" (click)="onPress('mobileBtn')" aria-label="toggle-mobile-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
  </div>
  <h1 class="title">portfolio</h1>
  <button class="map-icon">
      <img src="../assets/icon_map@2x.png"/>
  </button>
  </div>
</header>

